
<footer id="mdb-footer" class="mt-5" style="background-color: hsl(216, 25%, 95.1%); ">


    <div class="text-center p-3" style="background-color: hsl(216, 25%, 90%);">© 2023
        Copyright:
        <a class="" href="#"> <strong>Mobile Shop Project</strong></a>
    </div>

</footer>