<div class="alerts">
    <div class="alert alert-success animated" id="noti_Success" style="display: none;">
        <div class="icon pull-left">
            <i class="fa fa-check fa-2x"></i>
        </div>
        <div class="copy">
            <h4>Done</h4>
            <p id="pAlertContent">Add Product Success</p>
        </div>
        <a class="noti_close">
            Close
        </a>
    </div>
</div>


<!-- Loading Screen-->
<div id="loadingPage" style="display: none;">
    <div class="word">LOADING...</div>
    <div class="overlay"></div>
</div>